.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.sln.docstates
*.userosscache

packages/

*.mdf
*.ldf
*.ndf
*.sdf

node_modules/
npm-debug.log*
.eslintcache

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
Publish/